{% extends 'AppSecurityBundle::layout.html.twig' %}


{% block content %}

      {{ facebook_initialize({'xfbml': true, 'status': true,'fbAsyncInit': 'onFbInit();'}) }}

        <script>
          function goLogIn(){
              window.location = "{{ path('_fb_security_check') }}";
          }

          function onFbInit() {
             if (typeof(FB) != 'undefined' && FB != null ) {
                  FB.Event.subscribe('auth.login', function(response) {
                       setTimeout(goLogIn,500);
                  });

                  FB.Event.subscribe('auth.logout', function(response) {
                       window.location = "{{ path('_security_logout') }}";
                  });
             }
          }
        </script>

    <h1>Welcome {% if is_granted('IS_AUTHENTICATED_FULLY') %} {{app.user.firstname}} {% endif %}!</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p><a href="{{ path('_security_logout')}}">Click to logout</a> </p>
    {% endif %}

    <p>Click to login with Facebook.</p>

      {{ facebook_login_button({'autologoutlink': true}) }}

    <p>Click to login with Twitter.</p>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
     <a href="{{ path('_security_logout')}}"><img src="images/twitterLogOutButton.png"></a>
    {% else %}
     <a href="{{ path ('connect_twitter')}}"> <img src="/images/twitterLoginButton.png"></a>
    {% endif %}


{% endblock %}
